/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#Main_Label{
	-fx-background-color:"saddlebrown";
	-fx-text-fill:"white";
}
#Line_Label{
	-fx-background-color:"saddlebrown";
}
#Footer_Label{
	-fx-background-color:"ivory";
	-fx-text-fill:"saddlebrown";
}
#MenuButton {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}






